body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 15px;
}

.btn {
    background: #00c6ff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin-top: 15px;
    transition: background 0.3s easein-out  ;
}

.btn:hover {
    background: #00a2d4;
}

.card {
    background: rgba(0,0,0,0.3);
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 8px;
    color: #00c6ff;
}
